<header class="p-3" style="background-color: #ececec; color: white;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between"> 
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="assets/img/cell.png" alt="Logotipo" width="180" style="margin-left: -80px;"> 
      </a>

      <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" style="color: rgb(135, 192, 252);">Login</button>
        <button type="button" class="btn" style="background-color: #50c9e4; color: white;">Sign-up</button>
      </div>
    </div>
  </div>
</header>
